<div class="app-body">
    <main class="main d-flex align-items-center mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form [formGroup]="taskForm" (submit)="updateLeaveStatus()">
                                <h1 style="text-align:center;">Leave Request</h1>
                                <div class="input-group mb-3">
                                    <label class="col-md-5 col-form-label" for="text-input">Status</label>
                                    <select formControlName="title" id="leaveStatus" name="leaveStatus" class="form-control" arial-placeholder="Pending">
                                        <option value="Approve">Approve</option>
                                        <option value="Reject">Reject</option>
                                    </select>
                                </div>


                                <div class="input-group mb-3">
                                    <label class="col-md-5 col-form-label" for="text-input">Type</label>
                                    <select formControlName="type" id="leaveType" name="leaveType" class="form-control " required>
                                        <option value="">Select Leave Type</option>
                                        <option value="session ASSIGNED">session ASSIGNED</option>
                                        <option value="session NOT ASSIGNED">session NOT ASSIGNED</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                    <label class="col-md-5 col-form-label" for="text-input">Date</label>
                                    <input [(ngModel)]="itask.date" formControlName="date" type="date" class="form-control" name="date" placeholder="Select date" autocomplete="date" required>
                                </div>


                                <div class="input-group mb-3">
                                    <label class="col-md-5 col-form-label" for="text-input">Leave Purpose</label>
                                    <input formControlName="description" type="text" class="form-control" placeholder="high fever" autocomplete="purpose">
                                </div>

                                <button [disabled]="taskForm.invalid" type="update" class="btn btn-block btn-success">Update</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>