<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">

                    <h3 style="text-align: center;"><strong>Pending Leave Requests</strong></h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Date </th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trainer of pageOfItems ">

                                <td>{{ trainer.trainer.name}} </td>
                                <td>{{ trainer.date }}</td>
                                <td>{{ trainer.description }}</td>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-block btn-outline-info" (click)="getLeaveForm(trainer.id)">Action</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>

                <div class="card-footer">
                    <jw-pagination [items]="leaves" (changePage)="onChangePage($event)"></jw-pagination>
                </div>
            </div>
        </div>

    </div>

</div>