<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<div class="animated fadeln">
    <div class="row">


        <div class="col-lg-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Sessions</div>
                <div class="card-body">
                    <div class="card-body">
                        <button (click)="getToCreateTrainingSessions()" type="button" class="btn btn-primary">
                            Create Training Sessions
                        </button>

                    </div>

                    <br />
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"> Trainers List</div>
                <div class="card-body">
                    <div class="card-body">
                        <button (click)="getToTrainerLists()" type="button" class="btn btn-primary">
                            &nbsp;&nbsp;&nbsp;&nbsp;Trainers List&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </button>

                    </div>

                </div>
                <br />
            </div>
        </div>


        <div class="col-lg-3">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Virtual Machines List</div>
                <div class="card-body">
                    <div class="card-body">
                        <button (click)="getToVirtualMachine()" type="button" class="btn btn-primary">
                            &nbsp;&nbsp;Virtual Machines&nbsp;&nbsp;
                        </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header"> Notifications For Requested Leaves </div>
                <div class="card-body">
                    <div class="card-body">
                        <button (click)="getToLeaveRequestList()" type="button" class="btn btn-danger">
                            &nbsp;&nbsp;Requested Leaves&nbsp;<span class="badge badge-light"></span>
                        </button>
                    </div>
                </div>
                <br />
            </div>
        </div>

    </div>
</div>