<div class="app-body">
    <main class="main d-flex align-items-center mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">

                            <h1 style="text-align:center;">Profile Card</h1>

                            <div class="card">
                                <img src="../../../assets/img/brand/user.jpg" alt="John" style="width:100%">
                                <h1>John Doe</h1>
                                <p class="title">CEO & Founder, Example</p>
                                <p>Harvard University</p>


                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>