<div class="app-body">
    <main class="main d-flex align-items-center mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4 ">
                            <form (ngSubmit)="onSubmit();MyForm.reset();" ngNativeValidate #MyForm="ngForm">
                                <h1 style="text-align:center;">Add Training Coordinator</h1>

                                <div class="input-group mb-3">
                                    <label class="col-md-5 col-form-label" for="text-input"> Name</label>
                                    <input type="text" [(ngModel)]="form.name" name="name" class="form-control" placeholder="John Doe" required>
                                </div>

                                <button type="submit" class="btn btn-block btn-success">Submit </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>